<!DOCTYPE html>
<html>
<head>
    <title>Investment Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        
</head>
<body>
    <header>
        <h1>Investment Portfolio</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
