:root {
  --main-bg-color: #212121;
}


body {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    padding-top: 80px;
}

label{
  text-align: center;
}
#logo{
    font-family: 'Blanka', sans-serif;
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

a, #logo a{
  color:#949494;
  text-decoration: none;

}

#logo:hover a{
  text-decoration: none;
  color:#828282;
}

.title {
    text-align: center;
    font-size: 2em;
    font-family: 'Fira Sans', serif;
    font-weight: 600;
    margin-bottom: 0.8em;
}

h2, h4 {
  font-family: 'Fira Sans', serif;
  font-weight: 700;
}

body p {
    font-family: 'PT Serif', serif;
    font-size: 1em;
    margin-bottom: 1.5rem;
}

.table-custom {
  width:fit-content;
}

.table-custom,
.table-custom::before,
.table-custom::after {
  box-sizing: none;
}

.image-home{
  margin: 3% auto;
  width: 5%;
  max-width: 200px;
  min-width: 100px;
  height: auto;
  position: relative;
  border-radius: 5px;
}

.navbar-custom {
  background-color: var(--main-bg-color);
  padding: 0.5rem 4rem;
}

@media screen and (max-width: 600px)  {
  .navbar-custom {
    padding: 0.2rem 1rem;
  }
}

.nav-item {
    margin: 2px;
    margin-left: 10px;
}


.content {
  position: relative;
  overflow: hidden;
  margin: auto;
  padding: 2% 15%;
}

.main-content {
  margin: 3% 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-btn {
  width: fit-content;
  margin: 1em auto;
}


.auth-container {
  margin: auto;
  width: 80%;
  max-width: 400px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  background-color: var(--main-bg-color);
  color: gray;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  width: 100%;
}

form .form_control {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 5%;
}

form .form_control .label {
  position: absolute;
  top: 20%;
  left: 15px;
  transition: transform ease 0.4s;
  font-size: 0.85em;
  user-select: none;
  pointer-events: none;
  color: #b0b0b0;
}

form .form_control .input
 {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 15px;
  font-size: 1rem;
  border-radius: 5px;
  transition: box-shadow ease 0.2s;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

form .form_control .input:focus,
form .form_control .input:valid
 {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

form .form_control .input:focus + .label,
form .form_control .input:valid + .label {
  transform: translateX(-150%);
}

form .spec-input {
  margin-top:7%;
  overflow: visible;
}
form .auto-height{
  min-height: 38px;
  max-height: 200px;
  resize: none;
  height: 38px;
}
form .form_control .spec-input-label {
  top: -22px;
}

form .spec-input .input:valid
 {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e1e0e, inset -3px -3px 4px #5f6e5e;
}

form .form_control .input:valid + .spec-input-label {
  transform: translateX(0%);
}

form .form_control .input:focus + .spec-input-label{
  transform: translateX(-250%);
}

form .form-submit {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: box-shadow ease;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

form .form-submit:hover {
    padding: 0.7rem;
    margin: 0.8rem;
}

form .form-submit:active, .form-submit:focus {
      padding: 0.7rem;
    margin: 0.8rem;
  color: #5f5e5e;
  border: none;
  outline: none;
  font-size: 0.8rem;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.bottom_text {
  font-size: 0.7em;
}

.bottom_text .switch {
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}


.flash-box {
    width: 60%;
    min-width: 200px;
  position: relative;
  overflow: hidden;
  margin: 1% auto;
    border: none;
  outline: none;
  color: #000000;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.flash-box span {
  font-size: 1.2em;
}


.hamburger {
  cursor: pointer;
}

.menu-navbar:focus{
    border: none;
  outline: none;
  background-color: transparent;
}

.menu-navbar {
    border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
}

@media (min-width: 992px) {
  .menu-navbar {
    display: none;
  }
}

button:active {
    border: none;
  outline: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2.2em;
  /* Define the transition for transforming the SVG */
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

* {
  box-sizing: border-box;
}

.table {
  border-collapse: collapse;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #272727;
  color: rgb(151, 151, 151);
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.table tr {
  color: rgb(186, 186, 186);
  border-radius: 5px;
    padding: 2% 0;
    box-shadow: 1.5px 3px 3px #dee2e6, -1.5px -1.5px 3px rgb(95 94 94 / 25%);
}

.responsive tr {
  cursor: pointer;
}

.table thead th{
  color: #909090;
  background-color: var(--main-bg-color);
  cursor: default;
}

.table td, .table th, .table thead th {
  padding: 1em 10px;
  border: 1px thistle;
  border-bottom: 0;
  border-right: 0;
  border-top:0;
  vertical-align: middle;
}

.table thead tr {
  box-shadow: 1.5px 4px 3px #e9eaeb, -1.5px -1.5px 3px rgb(95 94 94 / 20%);
}

@media screen and (max-width: 850px) {  
  .responsive thead {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .responsive th {
    text-decoration-line: underline;
  }
  
  .responsive tr {
    display: block;
    border-radius: 5px;
    color: #c6c6c6;
    padding: 2% 0;
    box-shadow: 1.5px 3px 3px #dee2e6, -1.5px -1.5px 3px rgb(95 94 94 / 25%);
  }
  
  .responsive td {
    border: 1px solid;
    border-bottom: none;
    display: block;
    font-size: .8em;
    text-align: right;
    border-right: 0;
    border-left: 0;

  }
  
  .responsive td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  

}

.wrapper {
  --font-color-dark: gray;
  --font-color-light: #e1e1e1;
  --bg-color: var(--main-bg-color);
  --main-color: #323232;
  position: relative;
  width:fit-content;
  height: 36px;
  background-color: var(--bg-color);
  border: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.wrapper .option {
  width: 48%;
  height: 28px;
  position: relative;
  margin: 3px;
  
}


.wrapper .input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.wrapper .btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .input:hover +.btn {
  background-color: #262626;
  margin: 1px 0;
}


.wrapper .span {
  color: var(--font-color-dark);
}

.wrapper .input:checked + .btn {
  background-color: var(--main-color);
}

.wrapper .input:checked + .btn .span {
  color: var(--font-color-light);
}

#asset-category {
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  align-content: space-between;
  row-gap: 30px;
  margin-bottom: 1rem;
  padding: 0 0.8rem;
}


#asset-category a{
  text-decoration: none;
  width: 25%;
  min-width: fit-content;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  display: inline-block;
  margin: 0.4rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: box-shadow ease;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

#asset-category a:hover{
  padding: 0.5rem;
  margin: 0.3rem 0.4rem;
}

#asset-category .selected{
  padding: 0.5rem;
  margin: 0.3rem 0.4rem;
  color: #5f5e5e;
  border: none;
  outline: none;
  font-size: 0.8rem;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

@media screen and (max-width: 500px) {  
  #asset-category .selected,
  #asset-category a,
  #asset-category a:active, 
  #asset-category a:focus,
  #asset-category a:hover
  {
    margin: 0.3rem;
    padding: 0.4rem;
  }
}
.add-container {
  margin: auto;
  width: 80%;
  max-width: 500px;
  position: relative;
  border-radius: 5px;
  padding-top: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: gray;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex-row{
  margin: 0.5rem auto;
  margin-top: 0;
  display: flex;
  gap: 20px;
}

.allocation-img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.recomends {
  max-width: 50%;
}